
* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: Lucida Console,Lucida Sans Typewriter,monaco,Bitstream Vera Sans Mono,monospace; 
    line-height: 1.5;
    background-color: black;
}
/*.header {
   /* position: relative;
   overflow: hidden;
   height: 100vh;
   background-color: black;*/

.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #28292d;
}
.logo {
    font-size: 32px;
    color: #77787c;
    font-weight: 600;

}
.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;

}
@media (max-width: 1200px) {
    .nav {
        display: none;
    }
}
.nav__item {
    padding-left: 150px;
}
.nav__item:last-child {
    padding-right: 150px;
}
.nav__link {
    font-size: 22px;
    font-weight: 600;
    text-decoration-line: none;
    color: #77787c;
    transition: 0.3s;
}

.nav__link:hover {
    color: white;
    transition: 0.3s;
}



.menu-icon{
    z-index: 19;
    position: relative;
    width: 30px;
    height: 30px;
    justify-content: center;
    align-items: center;
    display: none;
}
@media (max-width: 1200px){
    .menu-icon{
        display: flex;
    }
}
.menu-icon-line{
    position: relative;
    width: 30px;
    height: 5px;
    background-color: #77787c;;

}
.menu-icon-line::before{
    position: absolute;
    left: 0;
    top: -10px;
    content: '';
    width: 30px;
    height: 5px;
    background-color: #77787c;
    transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
}
.menu-icon-line::after{
    position: absolute;
    left: 0;
    top: 10px;
    content: '';
    width: 30px;
    height: 5px;
    background-color: #77787c;
    transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
}
.menu-icon.menu-icon-active .menu-icon-line{
    background-color: transparent;
}
.menu-icon.menu-icon-active .menu-icon-line::before{
    transform: rotate(45deg);
    top: 0;
    transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
}
.menu-icon.menu-icon-active .menu-icon-line::after{
    transform: rotate(-45deg);
    top: 0;
    transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
}

/* mobile nav */


.mobile-nav{
    display: block;
    position: absolute;
    z-index: -10;
    right: 0px;
    top: 0;
    height: 100%;
    width: 350px;
    background-color:  #28292d;
    opacity: 0%;
    transition: 0.4s;
}
.mobile-nav__list{
    list-style-type: none;
    margin: 0;
    padding: 0;

}

.mobile-nav--active{
    opacity: 96%;
    transition: 0.7s;
    z-index: 10;
}
.mobile-nav__item{
    margin-bottom: 30px;
    margin-left: 50px;
    margin-top: 120px;

}
.mobile-nav__link{
    color: #77787c;
    text-decoration: none;
    font-weight: 600;
    transition: 0.3s;
    font-size: 24px;
}
.mobile-nav__link:hover{
    color: white;
    transition: 0.3s;
}

.images{
    text-align: center;
}
.power{
    width: 80%;
}
.nvidia{
    width: 70%;
}
.d-img{
    width: 50%;
}
